<div id="workshop" class="about" style="background-color: #efefef; text-align: center;">
  <div class="container-fluid">
    <!-- <h1 class="section-title" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color:#3dadb2">Workshop</h1> -->
    <div class="row">
      <div class="col-sm-12" style="text-align: left; ">
	      <p>Details of Accommodation will be out soon</p>
<!-- 	<table>
	  <tr>
	    <th>Hotel</th>
	    <th>Location</th>
	    <th>Price Range</th>
	    <th>Contact</th>
            </tr>
	  <tr>
	    <td>Alade Guest House</td>
	    <td>Two locations: Comet (15 minutes from Ashesi University) and Ashongman (35 minutes from Ashesi University)</td>
	    <td>USD 45-55</td>
	    <td>¢80 – ¢150 per room per night</td>
            <td>Phone: +233 24 404 6490</td>
           </tr>
          <tr> 
            <td>Sweet Mother Guest House</td>
	    <td>Aburi (30 minutes from Ashesi)</td>
	    <td>¢120 per room per night</td>	    
            <td>Phone: +233 55 976 1503</td>            
	  </tr>
	<tr> 
	    <td>Aruba Guest House</td>
	    <td>Aburi (30 minutes from Ashesi)</td>
	    <td>¢250 - ¢350 per room per night</td>
	    <td>Email: arubaguesthouse@yahoo.com</td>            
           </tr>
	<tr> 
	    <td>Hill Palace Hotel</td>
	    <td>Aburi (30 minutes from Ashesi)</td>
	    <td>¢350 per room per night</td>
	    <td>Phone:  +233 50 144 8921</td>
           </tr>
	 </table>	 -->
      </div>
    </div>
  </div>
</div>
