<div id="workshop" class="about" style="background-color: #efefef; text-align: center;">
  <div class="container-fluid">
    <!-- <h1 class="section-title" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color:#3dadb2">Workshop</h1> -->
    <div class="row">
      <div class="col-sm-12" style="text-align: left; ">	      
<table class="table table-striped">
	<thead class="thead-dark">
	  <tr>
	    <th>Hotel</th>
	    <th>Location/Direct Booking</th>
	    <th>Price Range</th>
	</tr>
	</thead>
	<tr>
	    <td>Alade Guest House</td>
	    <td>Two locations: Comet (15 minutes from Ashesi University) and Ashongman (35 minutes from Ashesi University)</td>
	    <td> GH¢80 to GH¢120 per night for a double room with either a double or a queen-sized bed.</td>
           </tr>
          <tr> 
            <td>Regal Palm</td>
	    <td>Comet (20 mins from Ashesi)</td>
	    <td>GH¢180 per night for a double room, includes breakfast.</td>                     
	  </tr>
	<tr> 
	    <td>Quest Lodge</td>
	    <td>Berekuso, 5 minutes from Ashesi</td>
	    <td>Rates are GH¢100, GH¢150 or GH¢200 for rooms with a double bed, breakfast inclusive</td>            
           </tr>
	<tr> 
	    <td>Uniview Hostel</td>
	    <td>Berekuso, 5 minutes from Ashesi</td>
	    <td>Rates are GH¢150 per night in a shared room with 3 or 4 occupants</td>	    
           </tr>
	<tr> 
	    <td>Aruba Guest House</td>
	    <td>Aburi (30 minutes from Ashesi) - Direct booking http://arubaguesthouseghana.com/index.php</td>
	    <td>Room rates are from GHC 300 (approximately $57.69) per night for a double room</td>	    
           </tr>
	<tr> 
	    <td>The Landsdown Resort</td>
	    <td>Direct booking https://travel.jumia.com/en-gb/ghana/o28008/the-landsdown-resort-aburi.</td>
	    <td>Room rates are from GHC 600 - GHC 1000 per night (approximately $115.38 - $192.31 per night</td>	    
           </tr>
	<tr> 
	    <td>Hill Palace Hotel</td>
	    <td>To book directly, please send an email to info@hillpalacehotelgh.com</td>
	    <td>Room rates are GHC 300 (approximately $57.69) per night</td>	    
           </tr>
	<tr>
	<td colspan="3" align="center"><strong>The organizing team will help coordinate accomodation reservation for the selected applicants</td>
	</strong></tr>
	</table>
	  
	<h1> Visa Information</h1>
	Citizens from the following countries are exempted from visa requirements for short stays in Ghana: ECOWAS countries (14), Rwanda, Kenya, Lesotho, Namibia, Singapore, Tanzania, Trinidad and Tobago, Uganda, Zimbabwe, Seychelles, Mauritius, Malawi.
	If your country is not on the list above, please contact the Ghanaian Embassy or High Commission in your country to check whether you need a visa to visit Ghana.
      </div>
    </div>
	
  </div>
</div>
