  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DSA 2019 Accra - Participant Registration</title>

    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            #logo { position: relative; height: 300px; width: 1140px; overflow: hidden;}
            #logo img { position: absolute; right: 0; bottom: -120px; width: 1140px;}
        </style>
      </head>
      <body>
        {% include header.html %}
        <div class="container">


          <!-- Main Content -->

          <div class="page-header">
            <h1>DSA 2019 Accra</h1>
            <p class="lead">Summer school participant registration</p>
            <div id="logo"><img src="assets/summerschoolbanner.jpg"></div>
            <!-- <img src="img/dsa-nyeri.jpg" style="width:1140px;height:300px;"> -->
          </div>

          <div class="row">
            <div class="col-md-8">


              <p>Data Science Africa-2019 Accra summer school is aimed at equipping participants with Machine Leaning, Data Science and Artificial Intelligence skills. This will be organised in modules with exercises at the end of each module to assess the learning.</p>

              <p>To this end, we require that participants are well versed with the basics of the technologies and languages that will be used in the summer school. Particularly, we want to make sure participants have sufficient base skills in Python programming, Data science and Machine learning. </p>
              
              <p>This year we are trying a new participant registration requirement. We would like you to enrol in an <a href="https://codalab.lri.fr/competitions/522#learn_the_details">active challenge</a> where you have to download a dataset and sample code and build a working model that you can submit to the challenge.</p> 
                  
              <p><a href="https://codalab.lri.fr/competitions/522#learn_the_details">The challenge</a> is hosted on Codalab and relates to Malaria Microscopy. It requires you to build two models, a classification model to detect parasites in an image of a blood slide, and an object detection model/regression problem where you have to predict the bounding boxes around each detected parasite. The requirement for enrolment is submission to either problem (or both). Acceptance will be based on your rank in performance.</p>

              <p>Once you have attempted the challenge you can proceed to <a href="https://forms.gle/dkegpPdN8dxeNPWz8">register here</a>. Registration will require you to submit a valid user ID that is registered in the challenge.</p>

              <p>Good luck! If somethings in the notebooks are unclear, Google is your friend. 
                <!-- Some possible reference material can also be found here: <a href="http://cs231n.stanford.edu">CS231n Convolutional Neural Networks course</a>, the all round reference <a href="https://www.datacamp.com/courses">Data camp.</a> </p> -->

                <!-- <p>Good luck !</p> -->
<br>
<p align=right>
                  <button type="button" class="btn btn-default btn-lg align=right" onclick="location.href = 'https://forms.gle/dkegpPdN8dxeNPWz8';">
  Register Here (after entry in the challenge) <span class="glyphicon glyphicon-hand-right"></span>
</button> </p>
</div>
                <div class="col-md-4">
                  <div class="playlist_container">

                    <!-- Start of Collapsible playlists-->

                    <div class="bs-example">
                      <div class="panel-group" id="accordion">

                        <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

                        <!--Start of collapsible section -->

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Timelines
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">

                              <!--Start of content -->

                              <ol id="playlist">
<li><a href="#">July 2, 2019:</a><b> Registration opens</b></li>
<li><a href="#">September 30, 2019:</a> Registration closes</li>
<li><a href="#">October 2, 2019:</a> Successful applicants announced</li>
<li><a href="#">October 3, 2019:</a> Travel awards announced</li>
<!-- <li><a href="#">Python Basics 02</a></li> -->

                          </ol>

                              <!--End of content -->
                            </div>
                          </div>
                        </div>
                        <!--End of collapsible section -->
 
                      </div><!-- /accordian -->
                    </div><!-- /example -->

                    <!-- End of Collapsible playlists-->
        <!-- Start of Collapsible playlists-->

                    <div class="bs-example">
                      <div class="panel-group" id="accordion">

                        <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

                        <!--Start of collapsible section -->

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Resources
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">

                              <!--Start of content -->

                              <ol id="playlist">
<li><a href="assets/releaseNotebooks/PythonBasics.zip">Python Basics</a></li>
<li><a href="http://cs231n.stanford.edu">CS231n: Convolutional Neural Networks course</a></li>
<li><a href="https://www.coursera.org/learn/neural-networks-deep-learning">Coursera Neural Networks & deep learning</a></li>

                          </ol>

                              <!--End of content -->
                            </div>
                          </div>
                        </div>
                        <!--End of collapsible section -->
 
                      </div><!-- /accordian -->
                    </div><!-- /example -->

                    <!-- End of Collapsible playlists-->
                        
                  </div>
                </div>
              </div>
            </div>


            <hr>
            <footer>
              <center>
                <p>&copy; DSA 2019 - Accra</p>
              </center>
            </footer>

          </div> <!-- /container -->

          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
          <script src="assets/bootstrap/js/jquery.min.js"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        </body>
        </html>
